* {
    margin:0;
    padding:0;
}


.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16, 1fr);
    height: 755px;
    width: 100%;
    text-align: center;      
}

#header {
    background-color: #38ca49;
    color: white; 
    grid-row: 1/1;
    /*verde*/
}

#menu {
    background-color: #feda31;
    color: white;
    grid-row: 2/1;
    grid-column:2/5;
    /*amarelo*/    
}

#content1 {
    background-color: #ed25bc;
    color: white;   
    grid-row: 2/12;
    grid-column:1/5;
    /*Rosa*/
}

#content2 {
    background-color: #1277d6;
    color: white;
    grid-row: 12/16;
    grid-column:1/3;    
    /*azul*/
}

#image {
    background-color: #fc433e;
    color: white; 
    grid-row: 12/14;
    grid-column:4/5;   
    /*vermelho*/
}

#extra {
    background-color: #2afd77;
    color: white; 
    grid-row: 14/16;
    grid-column:4/5;   
    /*verde-claro*/
}

#footer {
    background-color: #af22c6;
    color: white;
    grid-row: 16/17;
    grid-column:1/5;    
    /*roxo*/
}

