*{
    margin: 0;
    padding: 0;
}

.container-retangulos {
    height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-row-gap:10px;
    grid-column-gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    background-color: white;
    
}

.vermelho {
    background-color: red;
    grid-row: 1/1;
    grid-column:1/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elemento1 {
    background-color: blue;
    border: 1px solid black;
    grid-row: 2/2;
    grid-column:1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elemento2 {
    background-color: yellow;
    border: 1px solid black;
    grid-row: 2/2;
    grid-column:2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.elemento3 {
    background-color: green;
    border: 1px solid black;
    grid-row: 2/2;
    grid-column:3/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.elemento4 {
    background-color: blue;
    border: 1px solid black;
    grid-row: 3/4;
    grid-column:1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.elemento5 {
    background-color: yellow;
    border: 1px solid black;
    grid-row: 3/4;
    grid-column:2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.elemento6 {
    background-color: green;
    border: 1px solid black;
    grid-row: 3/4;
    grid-column:3/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preto {
    grid-row-gap:10px;
    grid-column-gap:20px;
    grid-column: 1/4;
    grid-row: 4/7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
}


.elemento7 {
    background-color: black;
    border: 1px solid black;
    grid-row:1/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.elemento8 {
    background-color: black;
    border: 1px solid black;
    grid-row:1/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.elemento9 {
    background-color: white;
    border: 1px solid black;
    grid-row: 7/8;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elemento10 {
    background-color: white;
    border: 1px solid black;
    grid-row: 7/8;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elemento11 {
    background-color: white;
    border: 1px solid black;
    grid-row: 7/8;
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:320px) {
    .container-retangulos {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    }
    
    .vermelho {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        min-width: 320px;
        max-height: auto;
    }

    .elemento1{
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
        min-width: 320px;
        max-height: 100px;
    }
    .elemento2{
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        min-width: 320px;
        max-height: 100px;
    }
    .elemento3{
        display: grid;
        grid-column: 1/2;
        grid-row: 4/5;
        min-width: 320px;
        max-height: 100px;
    }
    .elemento4{
        display: grid;
        grid-column: 1/2;
        grid-row: 5/6;
        min-width: 320px;
        max-height: 100px;
    }

    .elemento5 {
        display: grid;
        grid-column: 1/2;
        grid-row: 6/7;
        min-width: 320px;
        max-height: 100px;
    }

    .elemento6 {
        display: grid;
        grid-column: 1/2;
        grid-row: 7/8;
        min-width: 320px;
        max-height: 100px;
    }

    .preto{
        display: grid;
        grid-column: 1/2;
        grid-row: 8/9;
        min-width: 320px;
        max-height: 100px;
    }

    .elemento7 {
        display: grid;
        grid-column: 1/2;
        grid-row: 8/9;
        min-width: 320px;
        max-height: 100px;
         
    }
        
    .elemento8{
        display: none;
    }
    .elemento9{
        display: none; 
    }
    .elemento10{
        display: none;
    }
    .elemento11{
        display: none;
    }
}

